@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 341 9% 95%;
    --foreground: 341 5% 5%;
    --card: 341 9% 90%;
    --card-foreground: 341 5% 10%;
    --popover: 341 9% 95%;
    --popover-foreground: 341 95% 5%;
    --primary: 341 77% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 341 10% 84%;
    --secondary-foreground: 0 0% 0%;
    --muted: 303 10% 85%;
    --muted-foreground: 341 5% 35%;
    --accent: 303 10% 80%;
    --accent-foreground: 341 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 341 5% 90%;
    --border: 341 20% 50%;
    --input: 341 20% 18%;
    --ring: 341 77% 40%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 341 10% 8%;
    --foreground: 341 5% 90%;
    --card: 341 9% 12%;
    --card-foreground: 341 5% 90%;
    --popover: 341 10% 5%;
    --popover-foreground: 341 5% 90%;
    --primary: 341 77% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 341 10% 16%;
    --secondary-foreground: 0 0% 100%;
    --muted: 303 10% 15%;
    --muted-foreground: 341 5% 60%;
    --accent: 303 10% 15%;
    --accent-foreground: 341 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 341 5% 90%;
    --border: 341 20% 18%;
    --input: 341 20% 18%;
    --ring: 341 77% 40%;
    --radius: 0.5rem;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .lucide {
    color: var(--foreground);
    width: 16px;
    height: 16px;
    stroke-width: 2px;
  }
}

.lucide {
  color: var(--foreground);
  width: 16px;
  height: 16px;
  stroke-width: 2px;
}

/* Style react-md-editor */
.md-editor {
  zoom: 110%;
  @apply bg-transparent;
}

.md-editor-toolbar-warp * {
  @apply text-foreground;
}

.md-editor-content-editor * {
  @apply bg-transparent;
}

.md-editor-preview {
  @apply min-h-full h-fit;
}

.md-editor-preview,
.md-editor-preview * {
  @apply bg-card;
}

.cm-gutters * {
  @apply bg-background;
}

/* Style tags input */
.react-tagsinput {
  @apply rounded-md bg-background border border-border px-2 grow;
}

.react-tagsinput--focused {
  @apply ring-ring ring-1;
}

.react-tagsinput-tag {
  @apply bg-primary text-primary-foreground rounded-sm text-xs p-1 font-bold mr-1;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: ' ×';
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  outline: none;
  @apply text-primary-foreground placeholder:text-muted-foreground text-xs p-2 w-[100px] placeholder:italic;
}
